# Environments
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db

# Data files (Optional: uncomment if you don't want to push massive CSV/Excel to git)
# *.csv
# *.xlsx
# *.xlsm
